@model Task_Manager_Beta.Data.Task

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idtask" />
            <div class="form-group" style="display:none">
                <label asp-for="Idproject" class="control-label"></label>
                <select asp-for="Idproject" class="form-control" asp-items="ViewBag.Idproject"></select>
                <span asp-validation-for="Idproject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Move Status</label>
                <select asp-for="Idstatus" class="form-control" asp-items="ViewBag.Idstatus"></select>
                <span asp-validation-for="Idstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayCreate" class="control-label"></label>
                <input asp-for="DayCreate" class="form-control" />
                <span asp-validation-for="DayCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayStart" class="control-label"></label>
                <input asp-for="DayStart" class="form-control" />
                <span asp-validation-for="DayStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hide" class="control-label"></label>
                <input asp-for="Hide" class="form-control" />
                <span asp-validation-for="Hide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Projects" asp-action="DashBoard" asp-route-id="@Model.Idproject">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
