@using System.Security.Claims

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        string username = User.Identity.Name;
        string permission = User.FindFirst(ClaimTypes.Role)?.Value;

        if (permission == "1")
        {
            <li>
                <a href="quan-tri">
                    <span class="navbutton glyphicon glyphicon-cog">check Permission</span>
                </a>
            </li>
        }
        else
        {
            <li>
                <a href="gio-hang">
                    <span class="navbutton glyphicon glyphicon-shopping-cart">hmmmmmmmmm</span>
                </a>
            </li>
        }
        <li>
            <a href="">
                <span class="glyphicon glyphicon-user"></span>
                @username
            </a>
        </li>
        <li>
            <a href="/dang-xuat" class="btnpd btn btn-custom-green border-1 border-custom-dark">
                <form asp-controller="User" asp-action="Logout" method="post">
                    <button type="submit" class="btn text-decoration-none">Logout</button>

                </form>
            </a>
        </li>
    }
    else
    {
        <div class="loginn">
            <li>
            <a href="/dang-ky" class="btnpd btn hv drops btn btn-custom-green" id="register">Đăng Ký</a>
            </li>
            <li>
            <a href="/dang-nhap" class="btnpd btn hv drops btn btn-custom-green" id="Login">Đăng Nhập</a>
            </li>
        </div>

    }
</ul>
